@import "../../assets/styles/colors.module";
@import "../../assets/styles/breakpoints.module";
@import "@fontsource/roboto";

.textSection {
  width: 100%;
  text-align: justify;

  .header {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: $lightRed;
    margin: 0 0 0.5rem 0;

    @include breakpoint-md {
      font-size: 1.4rem;
    }

    @include breakpoint-s {
      font-size: 1.1rem;
    }
  }

  .text {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: $lightFont;
    margin-bottom: 1.25rem;
    line-height: 1.65rem;

    p {
      margin-top: 0;
    }

    @include breakpoint-md {
      font-size: 1rem;
    }

    @include breakpoint-s {
      font-size: 0.8rem;
    }
  }

  .alignLeft {
    text-align: start;
  }

  .alignRight {
    text-align: end;

    @include breakpoint-md {
      text-align: start;
    }
  }
}
