@import "../assets/styles/colors.module";
@import "../assets/styles/fonts.module";
@import "../assets/styles/breakpoints.module";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  grid-column: 5 / 9;

  @include breakpoint-xxl {
      grid-column: 4 / 10;
  }

  @include breakpoint-lg {
      grid-column: 3 / 11;
  }

  @include breakpoint-md {
    grid-column: 2 / 12;
    margin-bottom: 2rem;
    flex-direction: column-reverse;
  }
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
