@import "../../assets/styles/colors.module";
@import "../../assets/styles/breakpoints.module";

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: flex-start;
  justify-content: center;
  column-gap: 0.625rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 0.8rem 0 0.5rem 0;
  background: $lightMenuBackground;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);

  @include breakpoint-lg {
    height: 5rem;
    transition: all 0.1s ease-in-out;
  }

  .wrapper {
    grid-column: 2 / 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    @include breakpoint-lg {
      grid-column: 2 / 12;
      align-items: flex-start;
      height: unset;
    }

    .logoContainer:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    .menu {
      display: none;

      @include breakpoint-lg {
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: 1.5rem;
      }
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;

      @include breakpoint-lg {
        gap: 4rem;
      }
    }
  }
}

.containerHeight {
  @include breakpoint-lg {
    height: 100%;
  }
}

.linksHidden {
  @include breakpoint-lg {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.linksVisible {
  @include breakpoint-lg {
    transition: opacity 0.2s ease-in-out;
    visibility: visible;
    opacity: 1;
  }
}
