@import "../../assets/styles/colors.module";
@import "../../assets/styles/breakpoints.module";
@import "@fontsource/roboto/700.css";

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  .wrapper {
    grid-column: 2 / 12;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-xxl {
      flex-direction: column;
      gap: 1rem;
    }

    .navlinks {
      @include breakpoint-sm {
        display: none;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;

      @include breakpoint-sm {
        flex-direction: column;
        gap: 0.5rem;
      }

      @include breakpoint-s {
        font-size: 0.9rem;
      }

      .text {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: $lightFont;

        @include breakpoint-lg {
          font-size: 1rem;
        }
      }

      .click:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    * > p {
      margin: 0.5rem;
    }
  }
}
