@import "../../../assets/styles/colors.module";
@import "../../../assets/styles/breakpoints.module";

.container {
  position: relative;
  display: flex;
  width: 15.625rem;
  height: 15.625rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include breakpoint-md {
    width: 12.5rem;
    height: 12.5rem;
  }

  @include breakpoint-sm {
    width: 11.25rem;
    height: 11.25rem;
  }

  @include breakpoint-ssm {
    width: 8.75rem;
    height: 8.75rem;
  }

  @include breakpoint-m {
    width: 7.5rem;
    height: 7.5rem;
  }

  @include breakpoint-xs {
    width: 6.25rem;
    height: 6.25rem;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .iconContainer {
    display: none;
  }
}

.container:hover {
  cursor: pointer;

  .iconContainer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    opacity: 0.8;
  }
}
