$lightBackground: #f5f5f7;
$lightFont: #1d1d1f;
$lightRed: #ff3f25;
$lightBlue: #97f8ff;
$lightMenuBackground: rgba(255, 255, 255, 0.9);

:export {
  lightBackground: $lightBackground;
  lightFont: $lightFont;
  lightRed: $lightRed;
  lightBlue: $lightBlue;
  lightMenuBackground: $lightMenuBackground;
}
